2020-12-24 최신 수정

# API 소개

## TOP 10,000 랭커 유저가 사용한 선수의 20경기

TOP 10,000 랭커 유저가 사용한 선수의 20경기 평균 스탯을 조회합니다.
선수의 고유 식별자와 포지션의 목록으로 랭커 유저가 사용한 선수의 평균 스탯 기록을 조회할 수 있습니다.
한번에 너무 많은 선수목록을 입력할 경우 413 Request Entity Too Large 에러가 반환될 수 있습니다.
한번에 호출하는 선수의 수는 50명이 적당합니다.
조회하고자 하는 선수 목록을 다음과 같이 구성하여 {players} 파라미터로 전송하면 API를 조회할 수 있습니다 :

{players} : "id", "po"필드를 가지고 있는 Json Object Array
- id : 선수 고유 식별자 (spid, /metadata/spid API 참고)
- po : 선수 포지션 (spposition, /metadata/spposition API 참고)

ex) [{"id":101001183,"po":7}, {"id":214003647,"po":25},…]

*데이터는 매일 3, 9, 15, 21시에 갱신을 시작하며 최대 한시간까지 소요될 수 있습니다.
갱신된 데이터는 갱신시작 시점을 기준으로 3시간 전 데이터까지 반영됩니다.

> https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?matchtype={matchtype}&players={players}

## 패키지 설치

In [1]:
import json
import pandas as pd
import pickle
import requests

from pandas import DataFrame
from tqdm import tqdm_notebook

In [2]:
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNTAzNDY4MjEzIiwiYXV0aF9pZCI6IjIiLCJ0b2tlbl90eXBlIjoiQWNjZXNzVG9rZW4iLCJzZXJ2aWNlX2lkIjoiNDMwMDExNDgxIiwiWC1BcHAtUmF0ZS1MaW1pdCI6IjIwMDAwOjEwIiwibmJmIjoxNTgxMDg0OTg5LCJleHAiOjE2NDQxNTY5ODksImlhdCI6MTU4MTA4NDk4OX0.tg1PMEcRjukDKo3SpCrbhXKQk82nIsKVXRv6LosKPro'

In [ ]:
api_key = 'my_api_key'

API Key는 넥슨 ID로 로그인한 뒤, [넥슨 개발자센터](https://developers.nexon.com/)를 통해 발급받을 수 있습니다.

## 매치 종류

매치 종류의 메타데이터를 조회합니다.

In [3]:
match_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/matchtype.json')
match_parsed_data = match_url.json()
match_type = pd.DataFrame(match_parsed_data)

In [4]:
match_type.head()

   matchtype      desc
0         30     리그 친선
1         40  클래식 1on1
2         50      공식경기
3         52      감독모드
4         60     공식 친선

매치 종류는 리그 친선(30), 클래식 1on1(40), 공식경기(50), 감독모드(52), 공식 친선(60)가 있습니다. 플레이어가 선수를 기용하여 플레이하는 스타일을 분석하기 위해 공식경기 결과를 분석에 사용하겠습니다.

## 선수 고유 식별자

선수 고유 식별자의 메타데이터를 조회합니다. 선수 고유 식별자는 시즌아이디(seasonid) 3자리와 선수아이디(pid) 6자리로 구성되어 있습니다.

In [5]:
spId_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spid.json')
spId_parsed_data = spId_url.json()
spId = pd.DataFrame(spId_parsed_data)

In [6]:
spId.head()

          id     name
0  101000001  데이비드 시먼
1  101000195   로비 파울러
2  101000244    게리 네빌
3  101000250  데이비드 베컴
4  101000388     솔 캠벨

## 선수 포지션

선수 포지션의 메타데이터를 조회합니다.

In [7]:
spposition_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spposition.json')
spposition_parsed_data = spposition_url.json()
spposition = pd.DataFrame(spposition_parsed_data)

In [8]:
spposition

    spposition desc
0            0   GK
1            1   SW
2            2  RWB
3            3   RB
4            4  RCB
5            5   CB
6            6  LCB
7            7   LB
8            8  LWB
9            9  RDM
10          10  CDM
11          11  LDM
12          12   RM
13          13  RCM
14          14   CM
15          15  LCM
16          16   LM
17          17  RAM
18          18  CAM
19          19  LAM
20          20   RF
21          21   CF
22          22   LF
23          23   RW
24          24   RS
25          25   ST
26          26   LS
27          27   LW
28          28  SUB

## 조회할 선수 목록 만들기

```{players}``` 파라미터로 전송할 선수의 목록을 Json Object Array로 만듭니다. 파이썬 환경에서 구현하기 위해 리스트가 딕셔너리 형태의 데이터를 가질 수 있도록 합니다.

In [9]:
position = list(spposition['spposition'])
player = list(spId['id'])

list_with_dic = [{"id": x, "po":y} for x in player for y in position]
list_with_dic[0:28+1]

[{'id': 101000001, 'po': 0},
 {'id': 101000001, 'po': 1},
 {'id': 101000001, 'po': 2},
 {'id': 101000001, 'po': 3},
 {'id': 101000001, 'po': 4},
 {'id': 101000001, 'po': 5},
 {'id': 101000001, 'po': 6},
 {'id': 101000001, 'po': 7},
 {'id': 101000001, 'po': 8},
 {'id': 101000001, 'po': 9},
 {'id': 101000001, 'po': 10},
 {'id': 101000001, 'po': 11},
 {'id': 101000001, 'po': 12},
 {'id': 101000001, 'po': 13},
 {'id': 101000001, 'po': 14},
 {'id': 101000001, 'po': 15},
 {'id': 101000001, 'po': 16},
 {'id': 101000001, 'po': 17},
 {'id': 101000001, 'po': 18},
 {'id': 101000001, 'po': 19},
 {'id': 101000001, 'po': 20},
 {'id': 101000001, 'po': 21},
 {'id': 101000001, 'po': 22},
 {'id': 101000001, 'po': 23},
 {'id': 101000001, 'po': 24},
 {'id': 101000001, 'po': 25},
 {'id': 101000001, 'po': 26},
 {'id': 101000001, 'po': 27},
 {'id': 101000001, 'po': 28}]

한 선수 당 플레이 가능한 포지션은 ```0```(GK, 골키퍼)부터 ```28```(SUB, 후보선수)까지 있습니다. 후보 선수를 제외한 총 28개의 포지션을 분석합니다

## API 호출하기

In [15]:
headers = {'Authorization' : api_key}
ranker = pd.DataFrame(columns=['createDate', 'spId', 'spPosition', 'status'])

term = 28*6 # number of data to request at once

try :
    for i in tqdm_notebook(range(0, len(list_with_dic), term)):
        r = requests.get("https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?matchtype=50&players="+str(list_with_dic[i:i+term]), headers = headers)
        # print("term: {}, get: {}".format(term, len(pd.DataFrame(r.json()))))
        if r.status_code == 404 :# Not found
            continue
        ranker = ranker.append(pd.DataFrame([r.json()]))

except Exception as e :
    print("Error message: ", e)
    

ranker.reset_index(inplace = True) # Reset row num

<ipython-input-15-76f422688daf>:7: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(range(0, len(list_with_dic), term)):

HBox(children=(FloatProgress(value=0.0, max=7403.0), HTML(value='')))

```term```은 한번에 호출할 데이터의 개수를 의미합니다. 포지션 28개가 한 묶음으로, ```*```를 사용하여 호출할 선수의 수를 지정합니다. 예를 들어 ```term=28*3```이라면 ```[선수 A의 포지션 28개, 선수 B의 포지션 28개]```를 한번에 호출합니다.

배수가 높을수록 한번에 많은 데이터를 호출할 수 있지만, 한번에 8명 이상의 선수 조합을 호출하면 413 Request Entity Too Large 오류가 발생합니다.

2020-12-24 추가 : 이전에 작성한 코드에서는 'Error message:  If using all scalar values, you must pass an index' 오류가 발생했습니다. ```ranker.append(pd.DataFrame([r.json()]))```으로 코드를 수정하면 해당 오류가 발생하지 않습니다.
2020-12-24 추가 : 데이터가 제대로 들어오지 않는 문제가 발생합니다.

In [18]:
ranker

      index createDate spId spPosition status                    message
0         0        NaN  NaN        NaN    NaN  {players} is invalid json
1         0        NaN  NaN        NaN    NaN  {players} is invalid json
2         0        NaN  NaN        NaN    NaN  {players} is invalid json
3         0        NaN  NaN        NaN    NaN  {players} is invalid json
4         0        NaN  NaN        NaN    NaN  {players} is invalid json
...     ...        ...  ...        ...    ...                        ...
7398      0        NaN  NaN        NaN    NaN  {players} is invalid json
7399      0        NaN  NaN        NaN    NaN  {players} is invalid json
7400      0        NaN  NaN        NaN    NaN  {players} is invalid json
7401      0        NaN  NaN        NaN    NaN  {players} is invalid json
7402      0        NaN  NaN        NaN    NaN  {players} is invalid json

[7403 rows x 6 columns]

## 데이터 가공하기

In [16]:
ranker.head()

   index createDate spId spPosition status                    message
0      0        NaN  NaN        NaN    NaN  {players} is invalid json
1      0        NaN  NaN        NaN    NaN  {players} is invalid json
2      0        NaN  NaN        NaN    NaN  {players} is invalid json
3      0        NaN  NaN        NaN    NaN  {players} is invalid json
4      0        NaN  NaN        NaN    NaN  {players} is invalid json

```status``` 열이 dictionary로 되어 있습니다. 열 자체를 dictionary로 변환하고 전치해서 데이터프레임에 합칩니다.

In [ ]:
rankerNew = ranker.join(pd.DataFrame(ranker["status"].to_dict()).T)
rankerNew.drop(['index', 'status'], axis=1, inplace = True)

In [ ]:
rankerNew.head()

평균 패스 성공률을 나타내는 ```passRate```를 만듭니다.

In [ ]:
rankerNew['passRate'] = rankerNew['passSuccess']/rankerNew['passTry']

In [ ]:
rankerNew.head()

분석에 사용하지 않을 변수들을 미리 제거합니다.

In [ ]:
del rankerNew['createDate']
del rankerNew['shoot']
del rankerNew['passSuccess']
del rankerNew['passTry']

메모리 사용량 최적화를 위해 특정 컬럼의 type를 지정해 줍니다.

In [ ]:
type_dic = {
    'spId': 'int32',
    'spPosition': 'int32',
    'matchCount': 'int32'
}
rankerNew = rankerNew.astype(type_dic)

rankerNew.info()

In [ ]:
rankerNew.head()

## 저장

In [ ]:
# save
with open('data.pickle', 'wb') as f:
    pickle.dump(rankerNew, f, pickle.HIGHEST_PROTOCOL)

# load
with open('data.pickle', 'rb') as f:
    data = pickle.load(f)

데이터의 크기와 메모리 사용량을 줄이기 위해 ```pickle``` 포맷으로 저장합니다.

### reference
- http://hleecaster.com/python-how-to-split-a-list-into-chunks/
- https://programmers.co.kr/learn/courses/4008/lessons/12738     
- https://specialmylife.tistory.com/entry/pandas-DataFrame-%EC%82%AC%EC%9A%A9%EB%B2%95-%EC%A0%95%EB%A6%AC%EC%9E%91%EC%97%85%EC%A4%91
- https://www.youtube.com/watch?v=0Vm9Yi_ig58&t=873s

### source
https://developers.nexon.com/fifaonline4