# API 소개

## TOP 10,000 랭커 유저가 사용한 선수의 20경기

TOP 10,000 랭커 유저가 사용한 선수의 20경기 평균 스탯을 조회합니다.
선수의 고유 식별자와 포지션의 목록으로 랭커 유저가 사용한 선수의 평균 스탯 기록을 조회할 수 있습니다.
한번에 너무 많은 선수목록을 입력할 경우 413 Request Entity Too Large 에러가 반환될 수 있습니다.
한번에 호출하는 선수의 수는 50명이 적당합니다.
조회하고자 하는 선수 목록을 다음과 같이 구성하여 {players} 파라미터로 전송하면 API를 조회할 수 있습니다 :

{players} : "id", "po"필드를 가지고 있는 Json Object Array
- id : 선수 고유 식별자 (spid, /metadata/spid API 참고)
- po : 선수 포지션 (spposition, /metadata/spposition API 참고)

ex) [{"id":101001183,"po":7}, {"id":214003647,"po":25},…]

*데이터는 매일 3, 9, 15, 21시에 갱신을 시작하며 최대 한시간까지 소요될 수 있습니다.
갱신된 데이터는 갱신시작 시점을 기준으로 3시간 전 데이터까지 반영됩니다.

> https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?matchtype={matchtype}&players={players}

## 패키지 설치

In [1]:
import json
import pandas as pd
import requests

from pandas import DataFrame
from tqdm.notebook import tqdm

In [2]:
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50X2lkIjoiNTAzNDY4MjEzIiwiYXV0aF9pZCI6IjIiLCJ0b2tlbl90eXBlIjoiQWNjZXNzVG9rZW4iLCJzZXJ2aWNlX2lkIjoiNDMwMDExNDgxIiwiWC1BcHAtUmF0ZS1MaW1pdCI6IjIwMDAwOjEwIiwibmJmIjoxNTgxMDg0OTg5LCJleHAiOjE2NDQxNTY5ODksImlhdCI6MTU4MTA4NDk4OX0.tg1PMEcRjukDKo3SpCrbhXKQk82nIsKVXRv6LosKPro'

In [ ]:
api_key = 'my_api_key'

API Key는 넥슨 ID로 로그인한 뒤, [넥슨 개발자센터](https://developers.nexon.com/)를 통해 발급받을 수 있습니다.

## 매치 종류

매치 종류의 메타데이터를 조회합니다.

In [3]:
match_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/matchtype.json')
match_parsed_data = match_url.json()
match_type = pd.DataFrame(match_parsed_data)

In [4]:
match_type.head()

   matchtype      desc
0         30     리그 친선
1         40  클래식 1on1
2         50      공식경기
3         52      감독모드
4         60     공식 친선

매치 종류는 리그 친선(30), 클래식 1on1(40), 공식경기(50), 감독모드(52), 공식 친선(60)가 있습니다. 플레이어가 선수를 기용하여 플레이하는 스타일을 분석하기 위해 공식경기 결과를 분석에 사용하겠습니다.

## 선수 고유 식별자

선수 고유 식별자의 메타데이터를 조회합니다. 선수 고유 식별자는 시즌아이디(seasonid) 3자리와 선수아이디(pid) 6자리로 구성되어 있습니다.

In [5]:
spId_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spid.json')
spId_parsed_data = spId_url.json()
spId = pd.DataFrame(spId_parsed_data)

In [6]:
spId.head()

          id     name
0  101000001  데이비드 시먼
1  101000195   로비 파울러
2  101000244    게리 네빌
3  101000250  데이비드 베컴
4  101000388     솔 캠벨

## 선수 포지션

선수 포지션의 메타데이터를 조회합니다.

In [7]:
spposition_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spposition.json')
spposition_parsed_data = spposition_url.json()
spposition = pd.DataFrame(spposition_parsed_data)

In [8]:
spposition

    spposition desc
0            0   GK
1            1   SW
2            2  RWB
3            3   RB
4            4  RCB
5            5   CB
6            6  LCB
7            7   LB
8            8  LWB
9            9  RDM
10          10  CDM
11          11  LDM
12          12   RM
13          13  RCM
14          14   CM
15          15  LCM
16          16   LM
17          17  RAM
18          18  CAM
19          19  LAM
20          20   RF
21          21   CF
22          22   LF
23          23   RW
24          24   RS
25          25   ST
26          26   LS
27          27   LW
28          28  SUB

## 조회할 선수 목록 만들기

```{players}``` 파라미터로 전송할 선수의 목록을 Json Object Array로 만듭니다. 파이썬 환경에서 구현하기 위해 리스트가 딕셔너리 형태의 데이터를 가질 수 있도록 합니다.

In [9]:
players = list(spId['id'])
positions = list(spposition['spposition'])

players_positions = json.dumps([{"id": x, "po":y} for x in players for y in positions])

In [10]:
len(players_positions)

35634942

한 선수 당 플레이 가능한 포지션은 ```0```(GK, 골키퍼)부터 ```28```(SUB, 후보선수)까지 있습니다. 모든 플레이어블 선수의 가능한 포지션 조합은 약 3천 5백만개입니다. 이 분석에서는 [FIFA20 상위 선수](https://www.ea.com/ko-kr/games/fifa/fifa-20/ratings/fifa-20-player-ratings-top-100) 중 상위 세 선수의 데이터를 분석하겠습니다.


- OVR : OVeRall, 선수의 훈련 경험치를 의미합니다. 최대 OVR은 100입니다.
- Weak Foot : 이 지수가 높을수록 볼 컨트롤과 슛의 파워가 증가합니다.

### 1위 : 리오넬 메시

<img src="https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-20/common/ratings/fifa20-grid-tile-full-rating-messi.png.adapt.crop16x9.652w.png">

FC Barcelona
94 OVR
- Skill moves : ⭐⭐⭐⭐
- Weak foot : ⭐⭐⭐⭐
- id : 206158023

In [11]:
messi_positions = json.dumps([{"id":206158023, "po":x} for x in positions])

### 2위 : 크리스티아누 호날두

<img src="https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-20/common/ratings/fifa20-grid-tile-full-rating-ronaldo.png.adapt.crop16x9.652w.png">

Piemonte Calcio
93 OVR
- Skill moves : ⭐⭐⭐⭐⭐
- Weak foot : ⭐⭐⭐⭐
- id : 206020801

In [12]:
ronaldo_positions = json.dumps([{"id":206020801, "po":x} for x in positions])

### 3위 : 네이마르 Jr.

<img src="https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-20/common/ratings/fifa20-grid-tile-full-rating-neymar.png.adapt.crop16x9.652w.png">

Paris Saint-Germain
92 OVR
- Skill moves : ⭐⭐⭐⭐⭐
- Weak foot : ⭐⭐⭐⭐⭐
- id : 207190871

In [13]:
neymar_positions = json.dumps([{"id":207190871, "po":x} for x in positions])

2020-12-27 추가 : 기존 문자열을 이용한 방식에서 ```json.dumps```를 이용하여 JSON 데이터 형태를 이용하도록 수정하였습니다. 아래는 샘플 코드입니다.

In [14]:
headers = {'Authorization' : api_key}
players = list(spId['id'])
positions = list(spposition['spposition'])
test = json.dumps([{"id": 101000001, "po":0}])

jsonurl = "https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?matchtype=50&players="
response_test = requests.get(jsonurl+test, headers = headers)

json_test = response_test.json()
df_test = pd.json_normalize(json_test)
df_test

,spId,spPosition,createDate,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block,status.tackle,status.matchCount
0,101000001,0,2020-12-29T02:30:00,0,0,0,0,0,0.25,0.2,2.8,2.45,0,0,20

## API 호출하기

### 1위 : 리오넬 메시

In [48]:
headers = {'Authorization' : api_key}
jsonurl = "https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?matchtype=50&players="

try :
    for i in tqdm(range(len(positions))):
        response = requests.get(jsonurl+messi_positions, headers = headers)
        json = response.json()
        messi_ranker = pd.json_normalize(json)

except Exception as e :
    print("Error message: ", e)

HBox(children=(FloatProgress(value=0.0, max=29.0), HTML(value='')))

In [16]:
messi_ranker.head()

,spId,spPosition,createDate,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block,status.tackle,status.matchCount
0,206158023,2,2020-12-26T02:30:00,0.0,0.0,0.0,0.0,0.00000,5.00000,5.00000,5.00000,5.00000,0,0.0,1
1,206158023,3,2019-09-20T02:30:00,1.0,0.0,1.0,0.0,0.00000,0.00000,0.00000,6.00000,5.00000,0,0.0,1
2,206158023,4,2019-10-24T02:30:00,3.0,1.0,0.0,1.0,0.00000,0.00000,0.00000,15.00000,13.00000,0,1.0,1
3,206158023,6,2020-06-27T02:30:00,0.0,0.0,0.0,0.0,2.66667,3.33333,2.66667,5.66667,3.66667,0,1.0,3
4,206158023,7,2019-09-20T02:30:00,0.0,0.0,1.0,0.0,0.00000,0.00000,0.00000,8.00000,8.00000,0,0.0,1

### 2위 : 크리스티아누 호날두

In [49]:
headers = {'Authorization' : api_key}
jsonurl = "https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?matchtype=50&players="

try :
    for i in tqdm(range(len(positions))):
        response = requests.get(jsonurl+ronaldo_positions, headers = headers)
        json = response.json()
        ronaldo_ranker = pd.json_normalize(json)

except Exception as e :
    print("Error message: ", e)

HBox(children=(FloatProgress(value=0.0, max=29.0), HTML(value='')))

In [18]:
ronaldo_ranker.head()

,spId,spPosition,createDate,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block,status.tackle,status.matchCount
0,206020801,1,2020-02-27T02:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,5.0,0.0,0.0,1
1,206020801,2,2020-12-03T02:30:00,1.0,1.0,0.0,0.0,0.0,16.0,15.0,13.0,12.0,0.0,0.0,1
2,206020801,3,2020-12-14T02:30:00,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,1
3,206020801,4,2020-03-12T02:30:00,1.0,1.0,1.0,1.0,0.0,0.0,0.0,12.0,8.0,0.0,0.0,1
4,206020801,5,2020-07-01T02:30:00,2.0,1.0,0.0,0.0,0.0,12.0,10.0,9.0,7.0,0.0,0.0,1

### 3위 : 네이마르 Jr.

In [50]:
headers = {'Authorization' : api_key}
jsonurl = "https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?matchtype=50&players="

try :
    for i in tqdm(range(len(positions))):
        response = requests.get(jsonurl+neymar_positions, headers = headers)
        json = response.json()
        neymar_ranker = pd.json_normalize(json)

except Exception as e :
    print("Error message: ", e)

HBox(children=(FloatProgress(value=0.0, max=29.0), HTML(value='')))

In [20]:
neymar_ranker.head()

,spId,spPosition,createDate,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block,status.tackle,status.matchCount
0,207190871,1,2020-07-26T02:30:00,0.0,0.0,0.0,0.0,14.0,2.25,1.75,3.5,3.25,0.0,1.25,4
1,207190871,2,2020-12-24T02:30:00,0.0,0.0,0.0,0.0,0.0,9.00,8.00,14.0,12.00,0.0,0.00,1
2,207190871,3,2020-07-28T02:30:00,2.0,2.0,0.0,1.0,0.0,11.00,10.00,8.0,7.00,0.0,0.00,1
3,207190871,4,2020-03-21T02:30:00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,6.0,5.00,0.0,0.00,1
4,207190871,5,2020-08-19T02:30:00,0.0,0.0,1.0,0.0,0.0,20.00,17.00,22.0,20.00,0.0,1.00,1

## 데이터 가공하기

평균 패스 성공률을 나타내는 ```passRate```, 평균 드리블 성공률을 나타내는 `dribbleRate`를 만듭니다.

In [51]:
messi_ranker['passRate'] = messi_ranker['status.passSuccess']/messi_ranker['status.passTry']
ronaldo_ranker['passRate'] = ronaldo_ranker['status.passSuccess']/ronaldo_ranker['status.passTry']
neymar_ranker['passRate'] = neymar_ranker['status.passSuccess']/neymar_ranker['status.passTry']

messi_ranker['dribbleRate'] = messi_ranker['status.dribbleSuccess']/messi_ranker['status.dribbleTry']
ronaldo_ranker['dribbleRate'] = ronaldo_ranker['status.dribbleSuccess']/ronaldo_ranker['status.dribbleTry']
neymar_ranker['dribbleRate'] = neymar_ranker['status.dribbleSuccess']/neymar_ranker['status.dribbleTry']

In [38]:
messi_ranker

,spId,spPosition,createDate,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block,status.tackle,status.matchCount,passRate,dribbleRate
0,206158023,2,2020-12-26T02:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,5.00000,5.00000,5.00000,5.00000,0,0.00000,1,1.000000,1.000000
1,206158023,3,2019-09-20T02:30:00,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,6.00000,5.00000,0,0.00000,1,0.833333,NaN
2,206158023,4,2019-10-24T02:30:00,3.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,15.00000,13.00000,0,1.00000,1,0.866667,NaN
3,206158023,6,2020-06-27T02:30:00,0.00000,0.00000,0.00000,0.00000,2.66667,3.33333,2.66667,5.66667,3.66667,0,1.00000,3,0.647059,0.800002
4,206158023,7,2019-09-20T02:30:00,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,8.00000,8.00000,0,0.00000,1,1.000000,NaN
5,206158023,8,2020-07-01T02:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,12.00000,11.00000,13.00000,10.00000,0,0.00000,1,0.769231,0.916667
6,206158023,9,2020-03-09T02:30:00,1.00000,0.00000,1.00000,0.00000,6.00000,0.00000,0.00000,9.00000,7.00000,0,1.00000,1,0.777778,NaN
7,206158023,10,2019-10-15T02:30:00,1.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,10.00000,8.00000,0,0.00000,1,0.800000,NaN
8,206158023,11,2020-09-02T02:30:00,2.00000,1.00000,0.00000,1.00000,89.00000,7.00000,5.00000,10.00000,8.00000,0,0.00000,1,0.800000,0.714286
9,206158023,12,2020-12-29T02:30:00,0.50000,0.20000,0.10000,0.10000,11.00000,6.50000,5.40000,7.20000,6.30000,0,0.30000,10,0.875000,0.830769
10,206158023,13,2020-12-14T02:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000,3.00000,2.00000,0,0.00000,1,0.666667,1.000000
11,206158023,14,2020-04-03T02:30:00,1.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,15.00000,13.00000,0,0.00000,1,0.866667,NaN
12,206158023,15,2020-12-21T02:30:00,2.00000,2.00000,0.00000,2.00000,0.00000,2.00000,2.00000,0.00000,0.00000,0,0.00000,1,NaN,1.000000
13,206158023,16,2020-12-27T02:30:00,0.00000,0.00000,0.33333,0.00000,112.00000,11.00000,9.66667,11.33333,9.66667,0,0.00000,3,0.852942,0.878788
14,206158023,17,2020-12-25T02:30:00,1.00000,1.00000,1.00000,1.00000,310.00000,12.00000,10.00000,9.00000,9.00000,0,0.00000,1,1.000000,0.833333
15,206158023,18,2020-12-29T02:30:00,1.00000,1.00000,0.00000,0.00000,0.00000,8.00000,8.00000,14.00000,12.00000,0,0.00000,1,0.857143,1.000000
16,206158023,19,2020-12-23T02:30:00,0.36364,0.18182,0.09091,0.00000,38.90909,8.90909,7.00000,9.54545,8.36364,0,0.27273,11,0.876191,0.785714
17,206158023,20,2020-12-29T02:30:00,1.60000,1.00000,0.40000,0.60000,0.00000,16.00000,13.00000,16.60000,13.60000,0,0.00000,5,0.819277,0.812500
18,206158023,21,2020-12-26T02:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,3.00000,3.00000,3.00000,1.00000,0,0.00000,1,0.333333,1.000000
19,206158023,22,2020-12-11T02:30:00,0.52632,0.36842,0.52632,0.10526,80.84211,13.21053,11.68421,15.21053,13.15789,0,0.31579,19,0.865051,0.884462
20,206158023,23,2020-12-29T02:30:00,0.50000,0.50000,0.50000,0.00000,37.50000,10.00000,8.50000,14.50000,11.50000,0,0.50000,2,0.793103,0.850000
21,206158023,24,2020-12-23T02:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,12.00000,11.00000,15.00000,14.00000,0,0.00000,1,0.933333,0.916667
22,206158023,25,2020-12-24T02:30:00,2.00000,2.00000,0.00000,2.00000,0.00000,19.00000,14.00000,18.00000,18.00000,0,1.00000,1,1.000000,0.736842
23,206158023,26,2020-12-23T02:30:00,1.33333,1.00000,0.16667,0.16667,31.50000,12.50000,11.50000,14.50000,12.66667,0,0.00000,6,0.873563,0.920000
24,206158023,27,2020-12-23T02:30:00,0.71429,0.57143,0.14286,0.42857,13.57143,9.85714,8.14286,10.14286,8.00000,0,0.42857,7,0.788732,0.826087
25,206158023,28,2020-12-29T02:30:00,0.50000,0.50000,0.00000,0.50000,80.00000,9.50000,7.00000,11.00000,10.50000,0,1.00000,2,0.954545,0.736842

분석에 사용하지 않을 변수를 미리 제거합니다.

In [52]:
del messi_ranker['createDate']
del ronaldo_ranker['createDate']
del neymar_ranker['createDate']

컬럼의 이름을 알기 쉽게 바꿉니다.

In [53]:
messi_ranker

,spId,spPosition,status.shoot,status.effectiveShoot,status.assist,status.goal,status.dribble,status.dribbleTry,status.dribbleSuccess,status.passTry,status.passSuccess,status.block,status.tackle,status.matchCount,passRate,dribbleRate
0,206158023,2,0.00000,0.00000,0.00000,0.00000,0.00000,5.00000,5.00000,5.00000,5.00000,0,0.00000,1,1.000000,1.000000
1,206158023,3,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,6.00000,5.00000,0,0.00000,1,0.833333,NaN
2,206158023,4,3.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,15.00000,13.00000,0,1.00000,1,0.866667,NaN
3,206158023,6,0.00000,0.00000,0.00000,0.00000,2.66667,3.33333,2.66667,5.66667,3.66667,0,1.00000,3,0.647059,0.800002
4,206158023,7,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,8.00000,8.00000,0,0.00000,1,1.000000,NaN
5,206158023,8,0.00000,0.00000,0.00000,0.00000,0.00000,12.00000,11.00000,13.00000,10.00000,0,0.00000,1,0.769231,0.916667
6,206158023,9,1.00000,0.00000,1.00000,0.00000,6.00000,0.00000,0.00000,9.00000,7.00000,0,1.00000,1,0.777778,NaN
7,206158023,10,1.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,10.00000,8.00000,0,0.00000,1,0.800000,NaN
8,206158023,11,2.00000,1.00000,0.00000,1.00000,89.00000,7.00000,5.00000,10.00000,8.00000,0,0.00000,1,0.800000,0.714286
9,206158023,12,0.50000,0.20000,0.10000,0.10000,11.00000,6.50000,5.40000,7.20000,6.30000,0,0.30000,10,0.875000,0.830769
10,206158023,13,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000,3.00000,2.00000,0,0.00000,1,0.666667,1.000000
11,206158023,14,1.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,15.00000,13.00000,0,0.00000,1,0.866667,NaN
12,206158023,15,2.00000,2.00000,0.00000,2.00000,0.00000,2.00000,2.00000,0.00000,0.00000,0,0.00000,1,NaN,1.000000
13,206158023,16,0.00000,0.00000,0.33333,0.00000,112.00000,11.00000,9.66667,11.33333,9.66667,0,0.00000,3,0.852942,0.878788
14,206158023,17,1.00000,1.00000,1.00000,1.00000,310.00000,12.00000,10.00000,9.00000,9.00000,0,0.00000,1,1.000000,0.833333
15,206158023,18,1.00000,1.00000,0.00000,0.00000,0.00000,8.00000,8.00000,14.00000,12.00000,0,0.00000,1,0.857143,1.000000
16,206158023,19,0.36364,0.18182,0.09091,0.00000,38.90909,8.90909,7.00000,9.54545,8.36364,0,0.27273,11,0.876191,0.785714
17,206158023,20,1.60000,1.00000,0.40000,0.60000,0.00000,16.00000,13.00000,16.60000,13.60000,0,0.00000,5,0.819277,0.812500
18,206158023,21,0.00000,0.00000,0.00000,0.00000,0.00000,3.00000,3.00000,3.00000,1.00000,0,0.00000,1,0.333333,1.000000
19,206158023,22,0.52632,0.36842,0.52632,0.10526,80.84211,13.21053,11.68421,15.21053,13.15789,0,0.31579,19,0.865051,0.884462
20,206158023,23,0.50000,0.50000,0.50000,0.00000,37.50000,10.00000,8.50000,14.50000,11.50000,0,0.50000,2,0.793103,0.850000
21,206158023,24,0.00000,0.00000,0.00000,0.00000,0.00000,12.00000,11.00000,15.00000,14.00000,0,0.00000,1,0.933333,0.916667
22,206158023,25,2.00000,2.00000,0.00000,2.00000,0.00000,19.00000,14.00000,18.00000,18.00000,0,1.00000,1,1.000000,0.736842
23,206158023,26,1.33333,1.00000,0.16667,0.16667,31.50000,12.50000,11.50000,14.50000,12.66667,0,0.00000,6,0.873563,0.920000
24,206158023,27,0.71429,0.57143,0.14286,0.42857,13.57143,9.85714,8.14286,10.14286,8.00000,0,0.42857,7,0.788732,0.826087
25,206158023,28,0.50000,0.50000,0.00000,0.50000,80.00000,9.50000,7.00000,11.00000,10.50000,0,1.00000,2,0.954545,0.736842

In [54]:
column_list = ['spId', 'spPosition','shoot', 'effectiveShoot', 'assist', 'goal',
              'dribble', 'dribbleTry', 'dribbleSuccess', 'passTry', 'passSuccess',
              'block', 'tackle', 'mathchCount', 'passRate', 'dribbleRate']

messi_ranker.columns = column_list
ronaldo_ranker.columns = column_list
neymar_ranker.columns = column_list

## 저장

In [56]:
messi_ranker.to_csv('messi.csv')
ronaldo_ranker.to_csv('ronaldo.csv')
neymar_ranker.to_csv('neymar.csv')

### reference
- http://hleecaster.com/python-how-to-split-a-list-into-chunks/
- https://programmers.co.kr/learn/courses/4008/lessons/12738     
- https://specialmylife.tistory.com/entry/pandas-DataFrame-%EC%82%AC%EC%9A%A9%EB%B2%95-%EC%A0%95%EB%A6%AC%EC%9E%91%EC%97%85%EC%A4%91
- https://www.youtube.com/watch?v=0Vm9Yi_ig58&t=873s
- https://www.fifplay.com/encyclopedia/weak-foot/

### source
https://developers.nexon.com/fifaonline4
    
Data based on NEXON DEVELOPERS